main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.title {
	font-size: 30px;
}
#product-container {
	/* width:100%;
    font-size: 20px;*/
}
.info-container {
	width: 85%;
	margin-left: 17vw;
}
.info-container div {
	margin-top: 1.3vh;
}

.subtitle {
	font-weight: bold;
}
.comment-box {
	border: 1px solid gray;
	padding: 1vh 1vw;
	margin-top: 1vh;
}
#info-container {
	position: relative;
	background-color: var(--colorgris);
	color: var(--whitetext);
	display: flex;
	flex-direction: column;
	height: 100%;
	line-height: 40px;
	margin: 10px;
	padding: 20px;

	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.image-container {
	position: relative;
	display: flex;
	background-color: var(--colorgris);
	color: var(--whitetext);
	text-align: center;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
	height: 100%;
	right: 0;
	width: 100%;
	grid-column: 1;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#relatedproducts {
	width: 97%;
}
#info-image-container {
	border-top: 30px solid var(--colorprincipal);
	border-radius: 20px;
	position: relative;
	height: fit-content;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	gap: 20px 20px;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
.relatedproducts {
	border-top: 30px solid var(--colorprincipal);
	border-radius: 20px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}
#relatedproduct {
	padding-bottom: 15px;
}

#wholeProduct-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--lightalphacolor);
	height: fit-content;
	width: 100%;
	margin-top: 1%;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-bottom: 1%;
}
.carousel-inner {
	border-radius: 20px;
	transform: scale(70%);
}
#addToCartBtn {
	margin-top: 20px;
	border-radius: 20px;
	position: relative;
	background-color: var(--colorprincipal);
	color: white;
	left: 10%;
	width: 80%;
}
.image-related-product {
	width: 75%;
	border-radius: 15px;
	border: 0.5px solid var(--coloroscuro);
}
.related-product-container {
	width: 35%;
}
@media (max-width: 767px) {
	#info-image-container {
		grid-template-columns: repeat(1, 1fr);
	}
	.image-container {
		margin-left: 0;
	}
}

/* Media Query para pantallas medianas */
@media (min-width: 768px) {
	#info-image-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Media Query para pantallas grandes */
@media (min-width: 992px) {
	#info-image-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
